{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Reset Password</title>
{% endblock %}

{% block content %}
    <div class="container" style="width:30%">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-outline-success">reset password</button>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-info">Home</button></a>
        </form>
    </div>
{% endblock %}